@import "../../theme/colors.module.scss";

.wrapper {
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
  .main {
    width: 100%;
    padding: 54px 94px;
    overflow: auto;
    @media screen and (max-width: 960px) {
      padding: 0px 20px 20px;
    }
  }
}
