@import "../../../theme/colors.module.scss";
.main {
  min-width: 375px;
  top: 0px;
  right: 0px;
  background-color: $GRAY_SCALE;
  height: 100vh;
  overflow: auto;
  position: relative;
}
.tab {
  position: sticky;
  top: 0;
  background-color: $GRAY_SCALE;
  z-index: 1;
}
