@import "../../../theme/colors.module.scss";

.main {
  .homeTitle {
    margin-bottom: 20px;
    @media screen and (max-width: 960px) {
      margin-top: 28px;
    }
  }
  .homeLabel {
    margin-bottom: 20px;
    @media screen and (max-width: 960px) {
      margin-top: 20px;
    }
  }
  .divider {
    margin: 30px 0px;
    background-color: $WHITE;
    width: 100%;
    opacity: 0.1;
    @media screen and (max-width: 960px) {
      margin: 0;
      display: none;
    }
  }
  .dividerBottom {
    margin: 20px 0px 335px;
    background-color: $WHITE;
    width: 100%;
    opacity: 0.1;
    @media screen and (max-width: 960px) {
      margin: 160px 0px 80px;
    }
  }
  .searchButton {
    width: 100%;
    max-width: 343px;
  }
}
