@import "../../../theme/colors.module.scss";

.container {
  padding: 20px 0px;
  .backRow {
    align-items: center;
    margin-bottom: 24px;
    .backIcon {
      margin-right: 32px;
    }
  }
  .resultContainer {
    display: grid;
    grid-gap: 31px 34px;
    grid-template-columns: repeat(auto-fit, minmax(219px, 1fr));
    @media screen and (max-width: 960px) {
      grid-gap: 40px 0px;
    }
  }
  .buttonMore {
    margin-top: 10px;
    max-width: 343px;
  }
}
