.main {
  margin-bottom: 24px;
  .tag {
    height: 150px;
    min-width: 150px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.06);
    position: relative;
    margin-bottom: 10px;
    .tagName {
      position: absolute;
      bottom: 14px;
      left: 10px;
      right: 10px;
      border: 4px solid #ffffff;
      box-sizing: border-box;
      border-radius: 8px;
      height: 50px;
      align-items: center;
      padding: 4px 14px;
      .tagText {
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }
    }
  }
  .nameCard {
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}
