.main {
  align-items: center;
  padding: 54px 94px;
  @media screen and (max-width: 960px) {
    padding: 20px;
  }
  .container {
    max-width: 870px;
    width: 100%;
    .title {
      margin-bottom: 24px;
    }
    .gridRow {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      width: 100%;
    }
  }
}
