@import "../../theme/colors.module.scss";

.mainLayout {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: $BACK_GROUND;
  overflow: hidden;
  align-items: flex-start;
  position: relative;
  .route {
    flex: 1;
    overflow: hidden;
    width: 100%;
    @media screen and (max-width: 960px) {
      margin-bottom: 66px;
    }
  }
}
