@import "../../../theme/colors.module.scss";
.mainBar {
  background-color: $GRAY_SCALE;
  max-height: 100vh;
  height: 100vh;
  position: fixed;
  width: 80px;
  left: 0px;
  align-items: center;
  .logoIcon {
    margin-bottom: 43px;
    margin-top: 37px;
  }
  .menuItem {
    margin-bottom: 24px;
    .colButton {
      align-items: center;
    }
  }
}
.divContent {
  width: 80px;
}
