.main {
  width: 100vw;
  height: 66px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background: rgba(24, 24, 24, 0.2);
  box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(54.3656px);
  justify-content: center;
  .colButton {
    margin-right: 55px;
  }
}
