.main {
  width: 100%;
  height: 70px;
  align-items: center;
  background: #181818;
  position: sticky;
  top: 0px;
  z-index: 10;
  .backRow {
    margin-left: 25px;
    align-items: center;
    .backIcon {
      margin-right: 20px;
    }
  }
}
